.grid{
    height: 300px;
    width: 560px;
    border: solid black 1px;
    position: absolute;
    margin-top: 80px;
}

.block{
    height: 20px;
    width: 100px;
    background-color: blue;
    position: absolute;
}

.user{
    height: 20px;
    width: 100px;
    background-color: purple;
    position: absolute;
}

.ball{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: red;
}